* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0.2);
    overflow: hidden;
    text-align: center;
    background-image: linear-gradient(to right, rgb(178, 209, 221), rgb(192, 214, 199));
}

header {
    padding: 20px;
}

header h1 {
    font-size: 1.8rem;
}

header p {
    font-size: 1rem;
}

main {
    padding: 20px
}

#question-box {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.option {
    margin-top: 5px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0.2);
    cursor: pointer;
    transition-duration: 0.4s;
}

button.option:hover {
    background-color: #cce0db; 
}

.hidden{
    display: none;
}
